{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block anonymous_content %}
  <!-- Login form -->
  <div class="container py-5">
    <div class="row align-items-center mb-1 gy-1">
      <div class="col-lg-3">
        <!-- Empty col -->
      </div>
      <div class="col-lg-6 newsletter">
        <h2 class="text-center">{{ title }}</h2>
        <img 
            src="{{ url_for('static', filename='images/home/somaSOMA2.png') }}" 
            alt="Logo"
            class="img img-fluid"
            style="width: 100%; height: auto;">
        <!-- form-->
        <p>{{ wtf.quick_form(form, button_map={"submit":"warning"}) }}</p>
        <!-- End of form -->
        <p>
            Forgot password? <a href="{{ url_for('request_password_reset') }}">Request Password Reset</a>.
        </p>
      </div>
      <div class="col-lg-3">
        <!-- Empty col -->
      </div>
    </div>
  </div>
  <!-- End of login form -->
{% endblock %}