<p>Dear {{ client_username }},</p>
<p> Karibu.</p>
<p>
    Thank you for making our day by signing up to receive our emails. 
    We hope that you will find great value from the newsletters.
</p>
<p>
    You have joined our exclusive club of members to receive updates from us 
    directly to your inbox. Periodically, we will keep you informed of what 
    we are working on, and any offers that you can take advantage of.
</p>
<h3>We are human!</h3>
<p>
    Even though this is an automated service, you can still reach us directly via 
    <a href="#">WhatsApp</a>. There is a human behind the scenes.
</p>
<p>
    Alternatively, you can meet us in person here: <br><br>
    Long Heights, 2nd Floor <br>
    Simba Road,<br>
    Ruaka.
</p>
<h3>Follow Us</h3>
<p>
    You can find us on <a href="#">FaceBook</a> | <a href="#">Twitter</a> | <a href="#">LinkedIn</a> | <a href="#">Instagram</a>
</p>
<h3>Unsubscribe</h3>
<p>
    Read our <a href="#">Privacy policy</a> to understand how we handle your data.
</p>
<p>
    Want to unsubscribe? <a href="{{ url_for('unsubscribe', _external=True) }}">Do so here</a>.
</p>
<p>Sincerely,</p>
<p>somaSOMA Support</p>