/* your styles go here */
.logo {
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: orange;
    border-radius: 50%;
    margin-right: 5px;
}
.logo-name {
    text-transform: uppercase;
    color: orange;
}
