{% extends 'base.html' %}

{% block current_user_content %}
    <div class="container-fluid content">
        
        <!-- Flash message -->
        {% include '_flash_message.html' %}
        <!-- End of flash message -->

        <!-- Page title -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-4 mb-4">{{ title }} ({{ all_registered_teachers }})</h1>
            </div>
        </div>
        <!-- End of page title -->

        <!-- List of all registered admins -->
        <div class="row users">                
            <div class="col-md-12">
                <!-- Admin list -->
                <div class="table-responsive">
                    <table id="data" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Full Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Course</th>
                                <th>Residence</th>
                                <th>2FA Status</th>
                                <th>Registration Date</th>
                                <th>Send Private Email</th>
                                <!-- Only accessible by admins -->
                                {% if current_user.type == 'admin' %}
                                    <th>Deactivate</th>
                                    <th>Delete</th>
                                {% endif %}
                                <!-- End of admin access -->
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Get all admins from the database -->
                            {% for teacher in teachers %}
                                <tr>
                                    <td><img src="{{ teacher.avatar(25) }}"></td>
                                    <td>{{ teacher.first_name }} {{ teacher.last_name }}</td>
                                    <td>{{ teacher.username }}</td>
                                    <td>{{ teacher.email }}</td>
                                    <td><a href="https://wa.me/{{ teacher.phone_number | replace('+', '') }}?text=Hello%20From%20somaSOMA" target="_blank">{{ teacher.phone_number }}</a></td>
                                    <td>{{ teacher.course }}</td>
                                    <td>{{ teacher.current_residence }}</td>
                                    {% if teacher.two_factor_enabled() %}
                                        <td><span class="label label-info"> Enabled </span></td>
                                    {% else %}
                                        <td><span class="label label-warning"> Disabled </span></td>
                                    {% endif %}
                                    
                                    <td>{{ moment(teacher.registered_at).format('MMMM Do YYYY, h:mm:ss a') }}</td>
                                    
                                    
                                    <!-- Private email -->
                                    <td>
                                        {% if teacher.email == current_user.email %}
                                            <a 
                                                href=" {{ url_for('compose_direct_email_to_teacher', email=teacher.email) }} " 
                                                class="btn link_disabled" 
                                                style="background-color: #0d8a41; color: white;">
                                                Send Private Email
                                            </a>
                                        {% else %}
                                            <a 
                                                href=" {{ url_for('compose_direct_email_to_teacher', email=teacher.email) }} " 
                                                class="btn" 
                                                style="background-color: #0d8a41; color: white;">
                                                    Send private email
                                            </a>
                                        {% endif %}
                                    </td>
                                    <!-- End of private email -->

                                    <!-- Only accessible by admins -->
                                    {% if current_user.type == 'admin' %}

                                        <!-- ========================= -->
                                        <!-- Deactivate account -->
                                        <!-- ========================= -->
                                        <td>
                                            <!-- If the admin is active -->
                                            {% if teacher.active == True %}

                                                <!-- If the parent is the same as the current user -->
                                                <!-- They cannot deactivate themselves -->
                                                <!-- Link is inactive -->
                                                {% if current_user.username == teacher.username %}
                                                    <button style="background-color: red; color: white;" class="btn" data-toggle="modal" data-target="#teacherModalCenter">
                                                        Deactivate
                                                    </button>
                                                    
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="teacherModalCenter" tabindex="-1" role="dialog" aria-labelledby="teacherModalCenterTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                <h3 class="modal-title" id="teacherModalLongTitle">Are You Sure?</h3>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                <p>
                                                                    This action is not permanent. It can be reversed. <br><br>
                                                                    <a 
                                                                        href=" {{ url_for('deactivate_teacher', username=teacher.username) }} " 
                                                                        class="btn link_disabled" 
                                                                        style="background-color: red; color: white;">
                                                                            Deactivate teacher
                                                                    </a>
                                                                </p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End of delete admin modal -->

                                                <!-- If the admin is not the same as the current user -->
                                                <!-- They can deactivate this admin -->
                                                <!-- Link is active -->
                                                {% else %}                                            
                                                    <button style="background-color: red; color: white;" class="btn" data-toggle="modal" data-target="#teacher2ModalCenter">
                                                        Deactivate
                                                    </button>
                                                    
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="teacher2ModalCenter" tabindex="-1" role="dialog" aria-labelledby="teacher2ModalCenterTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                <h3 class="modal-title" id="teacher2ModalLongTitle">Are You Sure?</h3>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                <p>
                                                                    This action is not permanent. It can be reversed. <br><br>
                                                                    <a 
                                                                        href=" {{ url_for('deactivate_teacher', username=teacher.username) }} " 
                                                                        class="btn" 
                                                                        style="background-color: red; color: white;">
                                                                            Deactivate teacher
                                                                    </a>
                                                                </p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End of delete teacher modal -->
                                                {% endif %}
                                            {% endif %}

                                            <!-- If an teacher's account is deactivated -->
                                            <!-- Reactivate link is active -->
                                            {% if teacher.active == False %}
                                                <span>
                                                    <a 
                                                        class="btn" 
                                                        style="background-color: orange; color: white;" 
                                                        href=" {{ url_for('reactivate_teacher', username=teacher.username) }} "> 
                                                        Reactivate
                                                    </a>
                                                </span>
                                            {% endif %}
                                        </td>
                                        <!-- ========================= -->
                                        <!-- End of reactivate account -->
                                        <!-- ========================= -->

                                        <!-- ============== -->
                                        <!-- Delete account -->
                                        <!-- ============== -->
                                        <td>
                                            <!-- A parent's account status needs to be active to delete an account -->
                                            {% if teacher.active == True %}

                                                <!-- parent cannot delete self -->
                                                {% if current_user.username == teacher.username %}
                                                    <button style="background-color: red; color: white;" class="btn" data-toggle="modal" data-target="#{{teacher.username}}ModalCenter">
                                                        Delete
                                                    </button>
                                                    
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="{{teacher.username}}ModalCenter" tabindex="-1" role="dialog" aria-labelledby="teacherModalCenterTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                <h3 class="modal-title" id="teacherModalLongTitle">Are You Sure?</h3>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                <p>
                                                                    This action is permanent. It cannot be reversed. <br><br>
                                                                    <a 
                                                                        href=" {{ url_for('delete_teacher', username=teacher.username) }} " 
                                                                        class="btn link_disabled" 
                                                                        style="background-color: red; color: white;">
                                                                            Delete teacher
                                                                    </a>
                                                                </p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End of delete teacher modal -->
                                                
                                                    <!-- parent can teacher others -->
                                                {% else %}                                            
                                                    <button style="background-color: red; color: white;" class="btn" data-toggle="modal" data-target="#{{teacher.username}}2DeleteModalCenter">
                                                        Delete
                                                    </button>
                                                    
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="{{teacher.username}}2DeleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="teacher2ModalCenterTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                <h3 class="modal-title" id="teacher2ModalLongTitle">Are You Sure?</h3>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                <p>
                                                                    This action is permanent. It cannot be reversed. <br><br>
                                                                    {% if current_user.department != 'Superadmin' %}
                                                                        <a 
                                                                            href=" {{ url_for('delete_teacher', username=teacher.username) }} " 
                                                                            class="btn link_disabled" 
                                                                            style="background-color: red; color: white;">
                                                                                Delete teacher
                                                                        </a>
                                                                    {% endif %}
                                                                    {% if current_user.department == 'Superadmin' %}
                                                                        <a 
                                                                            href=" {{ url_for('delete_teacher', username=teacher.username) }} " 
                                                                            class="btn" 
                                                                            style="background-color: red; color: white;">
                                                                                Delete teacher
                                                                        </a>
                                                                    {% endif %}
                                                                </p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- ========================= -->
                                                    <!-- End of delete admin modal -->
                                                    <!-- ========================= -->

                                                {% endif %}
                                            {% endif %}

                                            <!-- If an parent's status is false -->
                                            {% if teacher.active == False %}
                                                <span>
                                                    <a 
                                                        class="btn" 
                                                        style="background-color: orange; color: white;" 
                                                        href=" {{ url_for('delete_teacher', username=teacher.username) }} "> 
                                                        Delete
                                                    </a>
                                                </span>
                                            {% endif %}
                                        </td>
                                        <!-- End of delete account -->
                                    {% endif %}
                                    <!-- End if teacher access -->
                                </tr>
                            {% endfor %}
                            <!-- End of getting all teacher from the database -->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End of list of all registered teachers -->
    </div>
{% endblock %}

{% block current_user_scripts %}
    <script>
        $(document).ready(function() {
            $('#data').DataTable();
        });
    </script>
{% endblock %}