<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="eLearning App">
    <meta name="keywords" content="Newsletter, eLearning, Python, Flask, JavaScript, Django, Twilio">
    <meta name="author" content="Gitau Harrison">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Favicon-->
    <link rel="shortcut icon" href=" {{ url_for('static', filename='images/home/somaSOMA2.png') }}">

    {% if title %}
        <title>{{ title }} - somaSOMA</title>
    {% else %}
        <title>somaSOMA eLearning App</title>
    {% endif %}

    <!-- intl-tel-input -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/css/intlTelInput.css">

    <!-- DataTable JS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">

    <!-- ============================================== -->
    <!-- Anonymous user -->
    <!-- ============================================== -->

    {% if current_user.is_anonymous %}
        <!-- Modal Video-->
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/modal-video/css/modal-video.min.css') }}">
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
        <!-- theme stylesheet-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" id="theme-stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">        
    {% endif %}
    <!-- ============================================== -->
    <!-- Anonymous user -->
    <!-- ============================================== -->


    <!-- ============================================== -->
    <!-- Authenticated user user -->
    <!-- ============================================== -->

    {% if current_user.is_authenticated %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom_current_user.css') }}">
      <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
      <!-- Bootstrap CSS CDN -->
      <link 
          rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" 
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" 
          crossorigin="anonymous">
      <link 
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
          crossorigin="anonymous">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

      <!-- Font Awesome JS -->
      <script defer 
          src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" 
          integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" 
          crossorigin="anonymous">
      </script>
      <script defer 
          src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" 
          integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" 
          crossorigin="anonymous">
      </script>

      <!-- Personal fontawesome Kit -->
      <script src="https://kit.fontawesome.com/1569ae777d.js" crossorigin="anonymous"></script>
    {% endif %}

    <!-- ============================================== -->
    <!-- End of authenticated user user -->
    <!-- ============================================== -->


  </head>
  <body>
    <!-- ============================================== -->
    <!-- Anonymously accessed content -->
    <!-- ============================================== -->

    {% if current_user.is_anonymous %}
      <!-- navbar-->
      <header class="header">
        <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="navbar">
          <div class="container"><a class="navbar-brand" href="{{ url_for('home') }}">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <strong>
                  <span class="logo">sS</span>soma<span class="logo-name">soma</span>
                </strong>
              </li>
            </ul>
          </a>
            <button 
              class="navbar-toggler navbar-toggler-end" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" 
              aria-expanded="false" 
              aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link link-scroll active" href="#hero">
                    <a href="{{ url_for('register_parent') }}">
                      <button class="btn btn-primary">Register</button>
                    </a>
                </a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- End of navbar -->

      <section class="hero bg-top py-5" id="hero" style="background: url({{ url_for('static', filename='images/home/banner-4.png') }}) no-repeat; background-size: 100% 80%">
        <div class="container py-5">

          <!-- Flash message -->
          {% include '_flash_message.html' %}
          <!-- End of flash message -->

          <!-- Child templates will go here -->
          {% block anonymous_content %}{% endblock %}
          <!-- End of child templates -->
        </div>
      </section>      
     
      <!-- Scroll to the top -->
      <a class="scroll-top-btn" id="scrollTop" href="#!"><i class="fas fa-long-arrow-alt-up"></i></a>
      <!-- End of scroll to the top -->

      <!-- Footer -->
      <footer class="with-pattern-1 position-relative pt-5">
        <div class="container py-5">
          <div class="row gy-4">
            <div class="col-lg-2">
              <!-- empty col -->
            </div>
            <div class="col-lg-6">
              <div style="margin-bottom: 10px;">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <strong>
                      <span class="logo">sS</span>soma<span class="logo-name">soma</span>
                    </strong>
                  </li>
                </ul>
              </div>
              <p class="text-muted">
                Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry.
              </p>
            </div>
            <div class="col-lg-4">
              <h2 class="h5 mb-4">Contact Info</h2>
              <ul class="list-unstyled me-4 mb-3">
                <li class="mb-2 text-muted">Simba Road, Ruaka.</li>
                <li class="mb-2"><a class="footer-link" href="tel:+254-700-111-222">+254 700 111 222</a></li>
                <li class="mb-2"><a class="footer-link" href="mailto:somaSOMA@email.com">somaSOMA@email.com</a></li>
              </ul>
              <ul class="list-inline mb-0">
                <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="copyrights">       
          <div class="container text-center py-4">
            <p class="mb-0 text-muted text-sm">&copy; {{ moment().format('YYYY') }}, <span class="logo">sS</span>soma<span class="logo-name">soma</span>.</p>
          </div>
        </div>
      </footer>
      <!-- End of footer -->

      {% block anonymous_user_scripts %}

        <!-- Momentjs -->
        {{ moment.include_moment() }}

        <!-- All scripts will go here -->
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/modal-video/js/modal-video.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
        <link 
            rel="stylesheet" 
            href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" 
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" 
            crossorigin="anonymous">  

        <!-- intl-tel-input -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/intlTelInput.min.js"></script>

        <!-- Phone number -->
        <script>
          var wtf_phone_field = document.getElementById('phone_number');
          wtf_phone_field.style.position = 'absolute';
          wtf_phone_field.style.top = '-9999px';
          wtf_phone_field.style.left = '-9999px';
          wtf_phone_field.parentElement.insertAdjacentHTML('beforeend', '<div><input type="tel" id="_phone"></div>');
          var fancy_phone_field = document.getElementById('_phone');
          var fancy_phone_iti = window.intlTelInput(fancy_phone_field, {
              separateDialCode: true,
              utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
          });
          fancy_phone_iti.setNumber(wtf_phone_field.value);
          fancy_phone_field.addEventListener('blur', function() {
              wtf_phone_field.value = fancy_phone_iti.getNumber();
          });
      </script>

      {% endblock %}
               
    {% endif %}
    <!-- ============================================== -->
    <!-- End of anonymously accessed content -->
    <!-- ============================================== -->


     <!-- ============================================== -->
    <!-- Content accessed by logged-in user -->
    <!-- ============================================== -->

    {% if current_user.is_authenticated %}
      {% if current_user.is_active %}
        <div class="wrapper">
          <!-- Sidebar  -->
          <nav id="sidebar">
              <div class="sidebar-header">
                  <h3>Dashboard</h3>
              </a>
              </div>

              <ul class="list-unstyled components">

                <!-- Class content can be seen by all except the parent -->
                {% if current_user.type != 'parent' %}
                    {% if current_user.type == 'student' %}                                
                      <li>
                          <a href="#pySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Python</a>
                          <ul class="collapse list-unstyled" id="pySubmenu"> 
                              <li><a href=" # ">Chapter 1: Syntax</a></li>
                              <li><a href=" # ">Chapter 2: Print Statements</a></li>
                              {% for score in scores2 %}
                                  {% if score.chapter2 < 3 %}
                                      <li><a class="link_disabled" href=" # ">Chapter 3: Loops</a></li>
                                  {% endif %}
                                  {% if score.chapter2 >= 3 %}
                                      <li><a href=" # ">Chapter 3: Loops</a></li>
                                  {% endif %}
                              {% endfor %}
                              {% for score in scores3 %}
                                  {% if score.chapter3 < 4 %}
                                      <li><a class="link_disabled" href=" # ">Chapter 4: Conditional Statements</a></li>
                                  {% endif %}
                                  {% if score.chapter3 >= 4 %}
                                      <li><a href=" # ">Chapter 4: Conditional Statements</a></li>
                                  {% endif %}
                              {% endfor %}
                              {% for score in scores4 %}
                                  {% if score.chapter4 < 4 %}
                                  <li><a class="link_disabled" href=" # ">Chapter 5: Functions</a></li>
                                  {% endif %}
                                  {% if score.chapter4 >= 4 %}
                                  <li><a href=" {{ url_for('admin.backend_chapter5') }} ">Chapter 5: Functions</a></li>
                                  {% endif %}
                              {% endfor %}                            
                          </ul>   
                      </li>
                      <li class="active">
                          <a href="#jsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">JavaScript</a>
                          <ul class="collapse list-unstyled" id="jsSubmenu">
                            <li><a href=" # ">Chapter 1: Syntax</a></li>
                            <li><a href=" # ">Chapter 2: Print Statements</a></li>
                            <li><a href=" # ">Chapter 3: Loops</a></li>
                          </ul>   
                      </li>
                      {% endif %}

                      <!-- Accessible by teachers and admins only -->
                      <!-- There are no conditions set to view any of the lessons' chapters -->
                      {% if current_user.type != "student" and current_user.type == "parent" %}                                    
                          <li>
                              <a href="#pySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Python</a>
                              <ul class="collapse list-unstyled" id="pySubmenu">
                                  <li><a href=" # ">Chapter 1: Syntax</a></li>
                                  <li><a href=" # ">Chapter 2: Print Statements</a></li>
                                  <li><a href=" # ">Chapter 3: Loops</a></li>                                
                              </ul>   
                          </li>
                          <li class="active">
                              <a href="#jsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">JavaScript</a>
                              <ul class="collapse list-unstyled" id="jsSubmenu">
                                  <li><a href=" # ">Chapter 1: Syntax</a></li>
                                  <li><a href=" # ">Chapter 2: Print Statements</a></li>
                                  <li><a href=" # ">Chapter 3: Loops</a></li>
                              </ul>   
                          </li>
                      {% endif %}
                    {% endif %}

                  <!-- Each user has their own profile page -->
                  {% if current_user.type == 'student' %}
                      <li>
                          <a href=" {{ url_for('student_profile') }} ">Profile</a>
                      </li>
                  {% endif %}
                  {% if current_user.type == 'teacher' %}
                      <li>
                          <a href=" {{ url_for('teacher_profile') }} ">Profile</a>
                      </li>
                  {% endif %}
                  {% if current_user.type == 'parent' %}
                      <!-- Only parent can register child/student -->
                      <li class="active">
                          <a href=" {{ url_for('register_student') }} ">Register Student</a>
                      </li>
                      <li>
                          <a href=" # ">Student Analysis</a>
                      </li>
                      <li>
                          <a href=" # ">Profile</a>
                      </li>
                  {% endif %}
                  {% if current_user.type == 'admin' %}
                      <li>
                          <a href=" {{ url_for('admin_profile') }} ">Profile</a>
                      </li>
                  {% endif %}

                  <!-- Student and Parent cannot see the list of app users -->
                  {% if current_user.type != 'student' and current_user.type != 'parent' %}
                      <li class="active">
                          <a href="#usersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Users</a>
                          <ul class="collapse list-unstyled" id="usersSubmenu">
                              <li>
                                  <a href=" {{ url_for('all_students') }} ">All Students</a>
                              </li>
                              <li>
                                  <a href=" {{ url_for('all_parents') }} ">All Parents</a>
                              </li>
                              <li>
                                  <a href=" {{ url_for('all_teachers') }} ">All Teachers</a>
                              </li>
                              <li>
                                  <a href=" {{ url_for('all_admins') }} ">All Admins</a>
                              </li>
                          </ul>   
                      </li> 
                      <li>
                          <a href=" {{ url_for('private_emails') }} ">All Private Emails</a>
                      </li> 
                      <li class="active">
                          <a href="#studentAnalysisSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Student Analysis</a>
                          <ul class="collapse list-unstyled" id="studentAnalysisSubmenu">
                              <li>
                                  <a href=" # ">Student Attendance</a>
                              </li>
                              <li>
                                  <a href=" # ">Projects Submissions</a>
                              </li>
                              <li>
                                  <a href=" # ">Assess Projects</a>
                              </li>
                          </ul>   
                      </li>                                                                                                                              
                  {% endif %}

                  <!-- Only admins can access the links below -->
                  {% if current_user.type == 'admin' %}
                      <li class="active">
                          <a href="#registrationSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Registration</a>
                          <ul class="collapse list-unstyled" id="registrationSubmenu">
                              <li>
                                  <a href=" {{ url_for('register_teacher') }} ">Register Teacher</a>
                              </li>
                              <li>
                                  <a href=" {{ url_for('register_admin') }} ">Register Admin</a>
                              </li>
                          </ul>   
                      </li>
                      <li>
                          <a href=" # ">App Analytics</a>
                      </li>                                  
                      <li class="active">
                          <a href="#newsletterSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Newsletter</a>
                          <ul class="collapse list-unstyled" id="newsletterSubmenu">
                              <li>
                                  <a href=" # ">Subscribers</a>
                              </li>
                          </ul>                            
                      </li>
                  {% endif %}
              </ul>

              <ul class="list-unstyled CTAs">
                  <li>
                      {% if not current_user.two_factor_enabled() %}
                          <a class="nav-link article" href=" # ">Enable 2FA</a>
                      {% else %}
                          <a class="nav-link download" href=" # ">Disable 2FA</a>
                      {% endif %}
                  </li>
              </ul>
          </nav>

          <!-- Page Content  -->
          <div id="content">

              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <div class="container-fluid">

                      <button type="button" id="sidebarCollapse" class="btn btn-light">
                          <i class="fas fa-align-left"></i>
                          <span>Toggle Sidebar</span>
                      </button>
                      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <i class="fas fa-align-justify"></i>
                      </button>

                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="nav navbar-nav ml-auto">
                              <li class="nav-item link_disabled"><a class="nav-link" href=" # ">{{ current_user.username }}</a></li>
                              <li class="nav-item active">
                                  <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </nav>

              {% block current_user_content %}

              {% endblock %}
          </div>
        </div>
      {% endif %}
      {% if current_user.active == False %}
        <p>
            Your account was deactivated. You can no longer access any services. 
            Contact somaSOMA for further assistance.
        </p>
      {% endif %}

      {% block current_user_scripts %}

          <!-- Momentjs -->
          {{ moment.include_moment() }}
          
          <!-- Custom JS -->
          <script src="{{ url_for('static', filename='js/custom_current_user.js') }}"></script>
          <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script 
          src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
          crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" 
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" 
            crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" 
            crossorigin="anonymous"></script>
        <script 
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" 
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" 
            crossorigin="anonymous"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
          <!-- DataTableJs links -->
          <script 
            type="text/javascript" 
            charset="utf8" 
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js">
          </script>
          <script 
            type="text/javascript" 
            charset="utf8" 
            src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js">
          </script>
          <!-- intl-tel-input -->
          <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/intlTelInput.min.js">
          </script>

          <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
          </script>

          <!-- Make image fullscreen when clicked -->
          <script>
              $(document).ready(function(){$("img").click(function(){this.requestFullscreen()})});
          </script>

            <!-- Verification Phone number -->
            <script>
              var wtf_phone_field = document.getElementById('verification_phone');
              wtf_phone_field.style.position = 'absolute';
              wtf_phone_field.style.top = '-9999px';
              wtf_phone_field.style.left = '-9999px';
              wtf_phone_field.parentElement.insertAdjacentHTML('beforeend', '<div><input type="tel" id="_phone"></div>');
              var fancy_phone_field = document.getElementById('_phone');
              var fancy_phone_iti = window.intlTelInput(fancy_phone_field, {
                  separateDialCode: true,
                  utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
              });
              fancy_phone_iti.setNumber(wtf_phone_field.value);
              fancy_phone_field.addEventListener('blur', function() {
                  wtf_phone_field.value = fancy_phone_iti.getNumber();
              });
            </script>
            <!-- Phone number -->
            <script>
              var wtf_phone_field = document.getElementById('phone_number');
              wtf_phone_field.style.position = 'absolute';
              wtf_phone_field.style.top = '-9999px';
              wtf_phone_field.style.left = '-9999px';
              wtf_phone_field.parentElement.insertAdjacentHTML('beforeend', '<div><input type="tel" id="_phone"></div>');
              var fancy_phone_field = document.getElementById('_phone');
              var fancy_phone_iti = window.intlTelInput(fancy_phone_field, {
                  separateDialCode: true,
                  utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
              });
              fancy_phone_iti.setNumber(wtf_phone_field.value);
              fancy_phone_field.addEventListener('blur', function() {
                  wtf_phone_field.value = fancy_phone_iti.getNumber();
              });
          </script>
      {% endblock %}

    {% endif %}


     <!-- ============================================== -->
      <!-- End of content accessed by logged-in user -->
    <!-- ============================================== -->
    

  </body>
</html>