<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="eLearning App">
    <meta name="keywords" content="Newsletter, eLearning, Python, Flask, JavaScript, Django, Twilio">
    <meta name="author" content="Gitau Harrison">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    {% if title %}
        <title>{{ title }} - somaSOMA</title>
    {% else %}
        <title>somaSOMA eLearning App</title>
    {% endif %}

    <!-- intl-tel-input -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/css/intlTelInput.css">

    <!-- DataTable JS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">

    <!-- ============================================== -->
    <!-- Anonymous user -->
    <!-- ============================================== -->

    {% if current_user.is_anonymous %}
        <!-- Modal Video-->
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/modal-video/css/modal-video.min.css') }}">
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
        <!-- theme stylesheet-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" id="theme-stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
        <!-- Favicon-->
        <link rel="shortcut icon" href=" {{ url_for('static', filename='images/home/somaSOMA2.png') }}">
    {% endif %}
    <!-- ============================================== -->
    <!-- Anonymous user -->
    <!-- ============================================== -->


    <!-- ============================================== -->
    <!-- Authenticated user user -->
    <!-- ============================================== -->


    <!-- ============================================== -->
    <!-- End of authenticated user user -->
    <!-- ============================================== -->


  </head>
  <body>
    <!-- ============================================== -->
    <!-- Anonymously accessed content -->
    <!-- ============================================== -->

    {% if current_user.is_anonymous %}
      <!-- navbar-->
      <header class="header">
        <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="navbar">
          <div class="container"><a class="navbar-brand" href="{{ url_for('home') }}">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <strong>
                  <span class="logo">sS</span>soma<span class="logo-name">soma</span>
                </strong>
              </li>
            </ul>
          </a>
            <button 
              class="navbar-toggler navbar-toggler-end" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" 
              aria-expanded="false" 
              aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link link-scroll active" href="#hero">
                    <a href="{{ url_for('register_parent') }}">
                      <button class="btn btn-primary">Register</button>
                    </a>
                </a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- End of navbar -->

      <section class="hero bg-top py-5" id="hero" style="background: url({{ url_for('static', filename='images/home/banner-4.png') }}) no-repeat; background-size: 100% 80%">
        <div class="container py-5">

          <!-- Flash message -->
          {% include '_flash_message.html' %}
          <!-- End of flash message -->

          <!-- Child templates will go here -->
          {% block anonymous_content %}{% endblock %}
          <!-- End of child templates -->
        </div>
      </section>      
     
      <!-- Scroll to the top -->
      <a class="scroll-top-btn" id="scrollTop" href="#!"><i class="fas fa-long-arrow-alt-up"></i></a>
      <!-- End of scroll to the top -->

      <!-- Footer -->
      <footer class="with-pattern-1 position-relative pt-5">
        <div class="container py-5">
          <div class="row gy-4">
            <div class="col-lg-2">
              <!-- empty col -->
            </div>
            <div class="col-lg-6">
              <div style="margin-bottom: 10px;">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <strong>
                      <span class="logo">sS</span>soma<span class="logo-name">soma</span>
                    </strong>
                  </li>
                </ul>
              </div>
              <p class="text-muted">
                Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry.
              </p>
            </div>
            <div class="col-lg-4">
              <h2 class="h5 mb-4">Contact Info</h2>
              <ul class="list-unstyled me-4 mb-3">
                <li class="mb-2 text-muted">Simba Road, Ruaka.</li>
                <li class="mb-2"><a class="footer-link" href="tel:+254-700-111-222">+254 700 111 222</a></li>
                <li class="mb-2"><a class="footer-link" href="mailto:somaSOMA@email.com">somaSOMA@email.com</a></li>
              </ul>
              <ul class="list-inline mb-0">
                <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="copyrights">       
          <div class="container text-center py-4">
            <p class="mb-0 text-muted text-sm">&copy; {{ moment().format('YYYY') }}, <span class="logo">sS</span>soma<span class="logo-name">soma</span>.</p>
          </div>
        </div>
      </footer>
      <!-- End of footer -->

      {% block anonymous_user_scripts %}

        <!-- Momentjs -->
        {{ moment.include_moment() }}

        <!-- All scripts will go here -->
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/modal-video/js/modal-video.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
        <link 
            rel="stylesheet" 
            href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" 
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" 
            crossorigin="anonymous">  

        <!-- intl-tel-input -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/intlTelInput.min.js"></script>

        <!-- Phone number -->
        <script>
          var wtf_phone_field = document.getElementById('phone_number');
          wtf_phone_field.style.position = 'absolute';
          wtf_phone_field.style.top = '-9999px';
          wtf_phone_field.style.left = '-9999px';
          wtf_phone_field.parentElement.insertAdjacentHTML('beforeend', '<div><input type="tel" id="_phone"></div>');
          var fancy_phone_field = document.getElementById('_phone');
          var fancy_phone_iti = window.intlTelInput(fancy_phone_field, {
              separateDialCode: true,
              utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
          });
          fancy_phone_iti.setNumber(wtf_phone_field.value);
          fancy_phone_field.addEventListener('blur', function() {
              wtf_phone_field.value = fancy_phone_iti.getNumber();
          });
      </script>

      {% endblock %}
               
    {% endif %}
    <!-- ============================================== -->
    <!-- End of anonymously accessed content -->
    <!-- ============================================== -->


     <!-- ============================================== -->
    <!-- Content accessed by logged-in user -->
    <!-- ============================================== -->

    {% if current_user.is_authenticated %}

        {% block current_user_scripts %}

          <!-- Momentjs -->
          {{ moment.include_moment() }}


          <!-- DataTableJs links -->
          <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
          <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

          <!-- intl-tel-input -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/intlTelInput.min.js"></script>

          <!-- Verification Phone number -->
          <script>
            var wtf_phone_field = document.getElementById('verification_phone');
            wtf_phone_field.style.position = 'absolute';
            wtf_phone_field.style.top = '-9999px';
            wtf_phone_field.style.left = '-9999px';
            wtf_phone_field.parentElement.insertAdjacentHTML('beforeend', '<div><input type="tel" id="_phone"></div>');
            var fancy_phone_field = document.getElementById('_phone');
            var fancy_phone_iti = window.intlTelInput(fancy_phone_field, {
                separateDialCode: true,
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
            });
            fancy_phone_iti.setNumber(wtf_phone_field.value);
            fancy_phone_field.addEventListener('blur', function() {
                wtf_phone_field.value = fancy_phone_iti.getNumber();
            });
        </script>
          <!-- Phone number -->
          <script>
            var wtf_phone_field = document.getElementById('phone_number');
            wtf_phone_field.style.position = 'absolute';
            wtf_phone_field.style.top = '-9999px';
            wtf_phone_field.style.left = '-9999px';
            wtf_phone_field.parentElement.insertAdjacentHTML('beforeend', '<div><input type="tel" id="_phone"></div>');
            var fancy_phone_field = document.getElementById('_phone');
            var fancy_phone_iti = window.intlTelInput(fancy_phone_field, {
                separateDialCode: true,
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
            });
            fancy_phone_iti.setNumber(wtf_phone_field.value);
            fancy_phone_field.addEventListener('blur', function() {
                wtf_phone_field.value = fancy_phone_iti.getNumber();
            });
        </script>
        {% endblock %}

    {% endif %}


     <!-- ============================================== -->
      <!-- End of content accessed by logged-in user -->
    <!-- ============================================== -->
    

  </body>
</html>