<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% if title %}
        {{ title }} - somaSOMA
    {% else %}
        somaSOMA eLearning App
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Modal Video-->
    <link rel="stylesheet" href="vendor/modal-video/css/modal-video.min.css">
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/main.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/weLEARN.png">
  </head>
  <body>
    <!-- navbar-->
    <header class="header">
      <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="navbar">
        <div class="container"><a class="navbar-brand" href="{{ url_for('home') }}">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <strong>
                <span class="logo">sS</span>soma<span class="logo-name">soma</span>
              </strong>
            </li>
          </ul>
        </a>
          <button 
            class="navbar-toggler navbar-toggler-end" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link link-scroll active" href="#hero">
                <button class="btn btn-primary">Register</button>
                <span class="sr-only">(current)</span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Hero Section-->
    <section class="hero bg-top py-5" id="hero" style="background: url(img/banner-4.png) no-repeat; background-size: 100% 80%">
      <div class="container py-5">
        <div class="row py-5">
          <div class="col-lg-5 py-5">
            <h1>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </h1>
            <p class="my-4 text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
            <ul class="list-inline mb-0">
              <li class="list-inline-item mb-2 mb-lg-0">
                <button class="btn btn-primary">Register</button>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 ml-auto">
            <div class="mx-auto">
              <img class="img-fluid" src="img/mindset.svg" alt="Mindset">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-center py-0" id="about" style="background: url(img/service-bg.svg) no-repeat; background-size: cover">
      <section class="about py-0 text-center">
        <div class="container">
          <p class="h6 text-uppercase text-primary">Lorem Ipsum is simply?</p>
          <h2 class="mb-5">Lorem Ipsum is simply</h2>
          <div class="row pb-5 gy-4">
            <div class="col-lg-3 col-md-3">

            </div>
            <div class="col-lg-6 col-md-6">
              <p class="text-muted">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
              <small class="text-muted">
                "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
              </small>
            </div>
            <div class="col-lg-3 col-md-3">
              <!-- Empty col -->
            </div>
          </div>
        </div>
      </section>
      <section class="with-pattern-1 py-5" id="services">
        <div class="container py-5">
          <div class="row align-items-center mb-5 gy-5">
            <div class="col-lg-6"><img class="img-fluid w-100 px-lg-5" src="img/about.svg" alt=""></div>
            <div class="col-lg-6">
              <h2>About soma<span class="logo-name">soma</span></h2>
              <p class="text-muted">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
              <button class="btn btn-primary js-modal-btn" data-video-id="BVCqBnb-epk"><i class="fas fa-play-circle me-2"></i>Play video</button>
            </div>
          </div>          
        </div>
      </section>
    </section>

    <!-- Programs -->
    <section class="p-0" id="testimonials" style="background: url(img/testimonials-bg.png) no-repeat; background-size: 40% 100%; background-position: left center">
      <div class="container text-center">
        <p class="h6 text-uppercase text-primary">What is Lorem Ipsum?</p>
        <h2 class="mb-5">Lorem Ipsum is simply dummy text</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="mx-3 mx-lg-5 my-5 pt-3">
              <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                <div class="card-body index-forward pt-5 rounded-lg">
                  <div class="testimonial-img"><img class="rounded-circle" src="img/child.svg" alt="" width="100"/></div>
                  <h5>Program 1</h5>
                  <p class="lead text-muted mb-1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mx-3 mx-lg-5 my-5 pt-3">
              <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                <div class="card-body index-forward pt-5 rounded-lg">
                  <div class="testimonial-img"><img class="rounded-circle" src="img/child2.svg" alt="" width="100"/></div>
                  <h5>Program 2</h5>
                  <p class="lead text-muted mb-1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mx-3 mx-lg-5 my-5 pt-3">
              <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                <div class="card-body index-forward pt-5 rounded-lg">
                  <div class="testimonial-img"><img class="rounded-circle" src="img/teen.svg" alt="" width="100"/></div>
                  <h5>Program 3</h5>
                  <p class="lead text-muted mb-1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="mx-3 mx-lg-5 my-5 pt-3">
              <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                <div class="card-body index-forward pt-5 rounded-lg">
                  <div class="testimonial-img"><img class="rounded-circle" src="img/man.svg" alt="" width="100"/></div>
                  <h5>Program 4</h5>
                  <p class="lead text-muted mb-1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mx-3 mx-lg-5 my-5 pt-3">
              <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                <div class="card-body index-forward pt-5 rounded-lg">
                  <div class="testimonial-img"><img class="rounded-circle" src="img/man2.svg" alt="" width="100"/></div>
                  <h5>Program 5</h5>
                  <p class="lead text-muted mb-1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mx-3 mx-lg-5 my-5 pt-3">
              <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                <div class="card-body index-forward pt-5 rounded-lg">
                  <div class="testimonial-img"><img class="rounded-circle" src="img/girl.svg" alt="" width="100"/></div>
                  <h5>Program 6</h5>
                  <p class="lead text-muted mb-1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <!-- Empty col -->
          </div>
          <div class="col-md-6">
            <p class="text-muted">
              "Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"
            </p>
          </div>
          <div class="col-md-3">
            <!-- Empty col -->
          </div>
        </div>        

        <!-- Newsletter -->
        <div class="container py-5">
          <div class="row align-items-center mb-5 gy-5">
            <div class="col-lg-1">
              <!-- Empty col -->
            </div>
            <div class="col-lg-10 newsletter">
              <h2>Newsletter</h2>
              <p class="text-muted">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
               <!-- Newsletter form-->
               <form action="#" class="subscription-form mt-5">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" name="email" placeholder="your@email.com" class="form-control">
                  <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
              </form>
            </div>
            <div class="col-lg-1">
              <!-- Empty col -->
            </div>
          </div>
        </div>
        <!-- End of newsletter -->

      </div>
    </section>
    <!-- Scroll to the top -->
    <a class="scroll-top-btn" id="scrollTop" href="#!"><i class="fas fa-long-arrow-alt-up"></i></a>
    <!-- End of scroll to the top -->
    <footer class="with-pattern-1 position-relative pt-5">
      <div class="container py-5">
        <div class="row gy-4">
          <div class="col-lg-2">
            <!-- empty col -->
          </div>
          <div class="col-lg-6">
            <div style="margin-bottom: 10px;">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <strong>
                    <span class="logo">sS</span>soma<span class="logo-name">soma</span>
                  </strong>
                </li>
              </ul>
            </div>
            <p class="text-muted">
              Lorem Ipsum is simply dummy text of <br> the printing and typesetting industry.
            </p>
          </div>
          <div class="col-lg-4">
            <h2 class="h5 mb-4">Contact Info</h2>
            <ul class="list-unstyled me-4 mb-3">
              <li class="mb-2 text-muted">Simba Road, Ruaka.</li>
              <li class="mb-2"><a class="footer-link" href="tel:+254-700-111-222">+254 700 111 222</a></li>
              <li class="mb-2"><a class="footer-link" href="mailto:weLearn@email.com">weLearn@email.com</a></li>
            </ul>
            <ul class="list-inline mb-0">
              <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
              <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyrights">       
        <div class="container text-center py-4">
          <p class="mb-0 text-muted text-sm">&copy; 2023, weLearn.</p>
        </div>
      </div>
    </footer>
    <!-- All scripts will go here -->
    {% block scripts %}
        {{  super() }}
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/modal-video/js/modal-video.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
        <link 
          rel="stylesheet" 
          href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" 
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" 
          crossorigin="anonymous">
    {% endblock %}    
  </body>
</html>