<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sample Elearning App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Swiper slider-->
    <link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css">
    <!-- Modal Video-->
    <link rel="stylesheet" href="vendor/modal-video/css/modal-video.min.css">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,800&amp;display=swap">
    <!-- Device Mockup-->
    <link rel="stylesheet" href="css/device-mockups.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.violet.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.png">
  </head>
  <body>
    <!-- navbar-->
    <header class="header">
      <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="navbar">
        <div class="container"><a class="navbar-brand logo" href="index.html">weLearn</a>
          <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link link-scroll active" href="#hero">
                <button class="btn btn-primary">Register</button>
                <span class="sr-only">(current)</span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Hero Section-->
    <section class="hero bg-top py-5" id="hero" style="background: url(img/banner-4.png) no-repeat; background-size: 100% 80%">
      <div class="container py-5">
        <div class="row py-5">
          <div class="col-lg-5 py-5">
            <h1>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </h1>
            <p class="my-4 text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
            <ul class="list-inline mb-0">
              <li class="list-inline-item mb-2 mb-lg-0">
                <button class="btn btn-primary">Register</button>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 ml-auto">
            <div class="device-wrapper mx-auto">
              <div class="device shadow" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                <div class="screen"><img class="img-fluid" src="img/mobile.png" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-center py-0" id="about" style="background: url(img/service-bg.svg) no-repeat; background-size: cover">
      <section class="about py-0 text-center">
        <div class="container">
          <p class="h6 text-uppercase text-primary">Lorem Ipsum is simply?</p>
          <h2 class="mb-5">Lorem Ipsum is simply</h2>
          <div class="row pb-5 gy-4">
            <div class="col-lg-3 col-md-3">

            </div>
            <div class="col-lg-6 col-md-6">
              <p class="text-muted">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
              <small class="text-muted">
                "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
              </small>
            </div>
            <div class="col-lg-3 col-md-3">
              <!-- Services Item-->
              <!-- <div class="card border-0 shadow rounded-lg py-4 text-start">
                <div class="card-body p-5">
                  <svg class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#ff904e">
                    <use xlink:href="#document-saved-1"> </use>
                  </svg>
                  <h3 class="h4 my-4">Online Marketing</h3>
                  <p class="text-sm text-muted mb-0">Lorem ipsum dolor amet consectetur adipisicing sed do eiusmod tempor incididunt ut labore.</p>
                </div>
              </div> -->
            </div>
            <!-- <div class="col-lg-4 col-md-6"> -->
              <!-- Services Item-->
              <!-- <div class="card border-0 shadow rounded-lg py-4 text-start">
                <div class="card-body p-5">
                  <svg class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#39f8d2">
                    <use xlink:href="#map-marker-1"> </use>
                  </svg>
                  <h3 class="h4 my-4">Track your move </h3>
                  <p class="text-sm text-muted mb-0">Lorem ipsum dolor amet consectetur adipisicing sed do eiusmod tempor incididunt ut labore.</p>
                </div>
              </div>
            </div> -->
            <!-- <div class="col-lg-4 col-md-6"> -->
              <!-- Services Item-->
              <!-- <div class="card border-0 shadow rounded-lg py-4 text-start">
                <div class="card-body p-5">
                  <svg class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#8190ff">
                    <use xlink:href="#arrow-target-1"> </use>
                  </svg>
                  <h3 class="h4 my-4">Market analysis</h3>
                  <p class="text-sm text-muted mb-0">Lorem ipsum dolor amet consectetur adipisicing sed do eiusmod tempor incididunt ut labore.</p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </section>
      <section class="with-pattern-1 py-5" id="services">
        <div class="container py-5">
          <div class="row align-items-center mb-5 gy-5">
            <div class="col-lg-6"><img class="img-fluid w-100 px-lg-5" src="img/objects.svg" alt=""></div>
            <div class="col-lg-6">
              <h2>About weLearn</h2>
              <p class="text-muted">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
              <button class="btn btn-primary js-modal-btn" data-video-id="BVCqBnb-epk"><i class="fas fa-play-circle me-2"></i>Play video</button>
            </div>
          </div>
          <!-- <div class="row align-items-center gy-5">
            <div class="col-lg-6">
              <h2>Make your own success as simple you clap</h2>
              <p class="text-muted">Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore dolore magna aliqua enim ad minim veniam quis nostrud exercitation.</p>
              <ul class="list-check">
                <li class="text-muted mb-2">Various Analysis Options</li>
                <li class="text-muted mb-2">Page Load Details (time, size, number of requests)</li>
                <li class="text-muted mb-2">Waterfall, Video and Report History</li>
              </ul>
              <button class="btn btn-primary js-modal-btn" data-video-id="B6uuIHpFkuo"><i class="fas fa-play-circle me-2"></i>Play video</button>
            </div>
            <div class="col-lg-6">
              <div class="row gy-4">
                <div class="col-lg-6 col-sm-6">
                  <!-- Services Item-->
                  <!-- <div class="card border-0 shadow rounded-lg text-start px-2">
                    <div class="card-body px py-5">
                      <svg class="svg-icon" style="width:40px;height:40px;color:#ff904e">
                        <use xlink:href="#document-saved-1"> </use>
                      </svg>
                      <h3 class="h5 my-3">Online Marketing</h3>
                      <p class="text-sm mb-0 text-muted">Lorem ipsum dolor amet consectetur adipisicing.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6"> -->
                  <!-- Services Item-->
                  <!-- <div class="card border-0 shadow rounded-lg text-start px-2">
                    <div class="card-body px py-5">
                      <svg class="svg-icon" style="width:40px;height:40px;color:#39f8d2">
                        <use xlink:href="#map-marker-1"> </use>
                      </svg>
                      <h3 class="h5 my-3">Track your move </h3>
                      <p class="text-sm mb-0 text-muted">Lorem ipsum dolor amet consectetur adipisicing.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6"> -->
                  <!-- Services Item-->
                  <!-- <div class="card border-0 shadow rounded-lg text-start px-2">
                    <div class="card-body px py-5">
                      <svg class="svg-icon" style="width:40px;height:40px;color:#8190ff">
                        <use xlink:href="#arrow-target-1"> </use>
                      </svg>
                      <h3 class="h5 my-3">Market analysis</h3>
                      <p class="text-sm mb-0 text-muted">Lorem ipsum dolor amet consectetur adipisicing.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6"> -->
                  <!-- Services Item-->
                  <!-- <div class="card border-0 shadow rounded-lg text-start px-2">
                    <div class="card-body px py-5">
                      <svg class="svg-icon" style="width:40px;height:40px;color:#ff634b">
                        <use xlink:href="#sorting-1"> </use>
                      </svg>
                      <h3 class="h5 my-3">Full Settings</h3>
                      <p class="text-sm mb-0 text-muted">Lorem ipsum dolor amet consectetur adipisicing.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </section>
    </section>
    <section class="p-0" id="testimonials" style="background: url(img/testimonials-bg.png) no-repeat; background-size: 40% 100%; background-position: left center">
      <div class="container text-center">
        <p class="h6 text-uppercase text-primary">What is Lorem Ipsum?</p>
        <h2 class="mb-5">Lorem Ipsum is simply dummy text</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="mx-3 mx-lg-5 my-5 pt-3">
              <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                <div class="card-body index-forward pt-5 rounded-lg">
                  <div class="testimonial-img"><img class="rounded-circle" src="img/avatar-1.jpg" alt="" width="100"/></div>
                  <p class="lead text-muted mb-1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mx-3 mx-lg-5 my-5 pt-3">
              <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                <div class="card-body index-forward pt-5 rounded-lg">
                  <div class="testimonial-img"><img class="rounded-circle" src="img/avatar-1.jpg" alt="" width="100"/></div>
                  <p class="lead text-muted mb-1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mx-3 mx-lg-5 my-5 pt-3">
              <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                <div class="card-body index-forward pt-5 rounded-lg">
                  <div class="testimonial-img"><img class="rounded-circle" src="img/avatar-1.jpg" alt="" width="100"/></div>
                  <p class="lead text-muted mb-1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="mx-3 mx-lg-5 my-5 pt-3">
              <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                <div class="card-body index-forward pt-5 rounded-lg">
                  <div class="testimonial-img"><img class="rounded-circle" src="img/avatar-1.jpg" alt="" width="100"/></div>
                  <p class="lead text-muted mb-1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mx-3 mx-lg-5 my-5 pt-3">
              <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                <div class="card-body index-forward pt-5 rounded-lg">
                  <div class="testimonial-img"><img class="rounded-circle" src="img/avatar-1.jpg" alt="" width="100"/></div>
                  <p class="lead text-muted mb-1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mx-3 mx-lg-5 my-5 pt-3">
              <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                <div class="card-body index-forward pt-5 rounded-lg">
                  <div class="testimonial-img"><img class="rounded-circle" src="img/avatar-1.jpg" alt="" width="100"/></div>
                  <p class="lead text-muted mb-1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <!-- Empty col -->
          </div>
          <div class="col-md-6">
            <p class="text-muted">
              "Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"
            </p>
          </div>
          <div class="col-md-3">
            <!-- Empty col -->
          </div>
        </div>

        <!-- Slider -->

        <!-- <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="swiper testimonials-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide h-auto">
                  <div class="mx-3 mx-lg-5 my-5 pt-3">
                    <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                      <div class="card-body index-forward pt-5 rounded-lg">
                        <div class="testimonial-img"><img class="rounded-circle" src="img/avatar-1.jpg" alt="" width="100"/></div>
                        <p class="lead text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <h5 class="mb-0">Sarah Hudson</h5>
                        <p class="text-primary mb-0 text-sm">Tech Developer</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide h-auto">
                  <div class="mx-3 mx-lg-5 my-5 pt-3">
                    <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                      <div class="card-body index-forward pt-5 rounded-lg">
                        <div class="testimonial-img"><img class="rounded-circle" src="img/avatar-2.png" alt="" width="100"/></div>
                        <p class="lead text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <h5 class="mb-0">Frank Smith</h5>
                        <p class="text-primary mb-0 text-sm">Tech Developer</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide h-auto">
                  <div class="mx-3 mx-lg-5 my-5 pt-3">
                    <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                      <div class="card-body index-forward pt-5 rounded-lg">
                        <div class="testimonial-img"><img class="rounded-circle" src="img/avatar-1.jpg" alt="" width="100"/></div>
                        <p class="lead text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <h5 class="mb-0">Sarah Hudson</h5>
                        <p class="text-primary mb-0 text-sm">Tech Developer</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide h-auto">
                  <div class="mx-3 mx-lg-5 my-5 pt-3">
                    <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                      <div class="card-body index-forward pt-5 rounded-lg">
                        <div class="testimonial-img"><img class="rounded-circle" src="img/avatar-2.png" alt="" width="100"/></div>
                        <p class="lead text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <h5 class="mb-0">Frank Smith</h5>
                        <p class="text-primary mb-0 text-sm">Tech Developer</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div> -->

        <!-- Newsletter -->
        <div class="container py-5">
          <div class="row align-items-center mb-5 gy-5">
            <div class="col-lg-2">
              <!-- Empty col -->
            </div>
            <div class="col-lg-8">
              <h2>Stay Updated</h2>
              <p class="text-muted">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
              <p>
                <form action="">
                  <fieldset>
                    <legend>Newsletter</legend>
                    <label for="email">Email</label>
                    <input type="email">
                    <button>Subscribe</button>
                  </fieldset>
                </form>
              </p>
            </div>
            <div class="col-lg-2">
              <!-- Empty col -->
            </div>
          </div>
        </div>
        <!-- End of newsletter -->

      </div>
    </section>
    <!-- Scroll to the top -->
    <a class="scroll-top-btn" id="scrollTop" href="#!"><i class="fas fa-long-arrow-alt-up"></i></a>
    <!-- End of scroll to the top -->
    <footer class="with-pattern-1 position-relative pt-5">
      <div class="container py-5">
        <div class="row gy-4">
          <div class="col-lg-2">
            <!-- empty col -->
          </div>
          <div class="col-lg-6">
            <p class="navbar-brand">weLearn</p>
            <p class="text-muted">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
          <div class="col-lg-4">
            <h2 class="h5 mb-4">Contact Info</h2>
            <ul class="list-unstyled me-4 mb-3">
              <li class="mb-2 text-muted">Simba Road, Ruaka.</li>
              <li class="mb-2"><a class="footer-link" href="tel:+254-700-111-222">+254 700 111 222</a></li>
              <li class="mb-2"><a class="footer-link" href="mailto:weLearn@email.com">weLearn@email.com</a></li>
            </ul>
            <ul class="list-inline mb-0">
              <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
              <li class="list-inline-item"><a class="social-link" href="#!"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyrights">       
        <div class="container text-center py-4">
          <p class="mb-0 text-muted text-sm">&copy; 2023, weLearn.</p>
          <!-- If you want to remove the backlink, please purchase the Attribution-Free License. See details in readme.txt or license.txt. Thanks!-->
        </div>
      </div>
    </footer>
    <!-- JavaScript files-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/modal-video/js/modal-video.js"></script>
    <script src="js/front.js"></script>
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      // this is set to BootstrapTemple website as you cannot 
      // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
      // while using file:// protocol
      // pls don't forget to change to your domain :)
      injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
      
    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>